# requirements.txt
django>=3.2

google~=3.0.0
SQLAlchemy~=2.0.35
setuptools~=75.1.0

Jinja2~=3.1.4
GitPython~=3.1.43
watchdog~=5.0.3
requests~=2.32.3
Scrapy~=2.11.2
github~=1.2.7
beautifulsoup4~=4.12.3
selenium~=4.25.0
webdriver-manager~=4.0.2
joblib~=1.4.2
scikit-learn~=1.5.2
python-dotenv~=1.0.1
pandas~=2.2.3
pymongo~=4.10.1
pydantic~=2.9.2
numpy~=2.1.2
Flask~=3.0.3
imbalanced-learn~=0.12.4